<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">
  <extensions>
    <add assembly="NLog.Extensions.Logging"/>
    <add assembly="NLog.Targets.ElasticSearch"/>
  </extensions>
  <variable name="applicationName" value="IntegrationOMSService"/>
  <variable name="logFilePath" value=".\Logs\${shortdate}-${level}-${applicationName}.txt" />
  <variable name="seperator" value="********************************" />
  <variable name="defaultLayout" value="${longdate} ${level:upperCase=true}: ${message}" />
  <variable name="errorLayout" value="${longdate} ${level:upperCase=true}: ${message}${newline}(${stacktrace}) ${exception:format=ToString}${newline}${seperator}" />
  <targets async="true">
    <target name="ElasticSearch" xsi:type="BufferingWrapper" flushTimeout="5000">
      <target xsi:type="ElasticSearch" uri="ELK_URI"/>
    </target>
    <target xsi:type="File" name="TraceFile" fileName="${logFilePath}" layout="${defaultLayout}" />
    <target xsi:type="File" name="DebugFile" fileName="${logFilePath}" layout="${defaultLayout}" />
    <target xsi:type="File" name="InfoFile" fileName="${logFilePath}" layout="${defaultLayout}" />
    <target xsi:type="File" name="WarnFile" fileName="${logFilePath}" layout="${defaultLayout}" />
    <target xsi:type="File" name="ErrorFile" fileName="${logFilePath}" layout="${errorLayout}" />
    <target xsi:type="File" name="FatalFile" fileName="${logFilePath}" layout="${errorLayout}" />
    <target xsi:type="Null" name="BlackHole" />
  </targets>
  <rules>
    <logger name="Microsoft.*" minlevel="Trace" writeTo="BlackHole" final="true" />
    <logger level="Trace" writeTo="BlackHole" />
    <logger level="Debug" writeTo="BlackHole" />
    <logger level="Info" writeTo="ElasticSearch" />
    <logger level="Warn" writeTo="ElasticSearch" />
    <logger level="Error" writeTo="ElasticSearch" />
    <logger level="Fatal" writeTo="ElasticSearch" />
  </rules>
</nlog>
